body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

h2 {
	    font-size: 24px;
	  	font-weight: bold;
	  	text-decoration: underline;
	    text-align: center;
	}

form {
	    display: flex;
	    flex-direction: column;
	    margin-bottom: 10px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	    max-width: 600px;
	    margin: 20px auto;
	    padding: 20px;
	    background-color: #f4f4f4;
	    border-radius: 8px;
	    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label 	{
			display: block;
			margin-bottom: 8px;
			color: #333;
		}

form label em {
    font-style: italic;
    display: inline;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 8px; /* Ajoutez la marge intérieure ici */
    min-height: 10px; /* Marge intérieure minimale */
}

input[type="submit"] {
    width: 100%;
    background-color: rgb(0, 128, 255);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s;
    margin-top: 10px; /* Ajout d'une marge en haut du bouton */
}

input[type="submit"]:hover {
    background-color: rgb(66, 160, 255);
}

textarea {
    width: 100% !important;
    padding: 12px !important; /* Ajout de padding supplémentaire */
    margin-bottom: 10px !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    min-height: 50px !important; /* Marge intérieure minimale */
}

/* Style du label */
label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    margin-left: 5px; /* Décalage vers la droite */
}

/* Style du menu déroulant */
select {
  width: 100%;
  padding: 10px !important;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  appearance: none;
  background: url('path/to/arrow-icon.png') no-repeat right center;
  background-size: 20px;
  margin-left: 5px; /* Décalage vers la droite */
  background-color: #fff; /* Fond blanc */
  margin-bottom: 10px; /* Marge intérieure */
}

/* Style des options du menu déroulant */
select option {
    padding: 12px;
    margin-bottom: 20px; /* Marge entre les options */
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
}

/* Style au survol des options */
select option:hover {
    background-color: #f0f0f0;
}