@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

* {
    -webkit-font-smoothing : antialiased;
}

.space {
	font-family: 'Sawarabi Mincho', serif;
}

        .carre {
            position: fixed;
            bottom: 0;
            right: 10px;
        }