@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing : antialiased;
}

body {
  background-image: linear-gradient(#F5F5F5 0.5px, transparent 0.5px, transparent calc(100% - 0.5px), 
  #F5F5F5 calc(100% - 0.5px)), linear-gradient(90deg, #F5F5F5 0.5px, transparent 0.5px, 
  transparent calc(100% - 0.5px), #F5F5F5 calc(100% - 0.5px));
  background-size: 12.5% 100%;
  border: 0.5px solid #F5F5F5;
}

h2 {
	font-family: 'Inter', sans-serif;
}
